<h1>{{title}}</h1>

<p>{{event.title}} has attendence records for the following days:</p>
<ul>
    {{#each dates}}
    <li><a href="#/event/{{../event.id}}/{{.}}">{{.}}</a></li>
    {{/each}}
</ul>
<a href="#" class="add_date">Add Date</a>
<hr>

<ul>
    {{#each contacts}}
    <li><a href="#/contact/{{id}}">{{display_name}}</a></li>
    {{/each}}
</ul>